*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;

}
h1
{
    background-color: #333;
    color: #fff;
    border-radius: 1rem;
    padding: .8rem 1.5rem;
}
button{
    padding: .5rem 1rem;
    border-radius: 0.6rem;
    border: none;
    margin-top: .8rem;
    transition: background-color .4s;
}

button:hover{
    background-color: rgb(214,214, 214);
}